.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

html {
 box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	color: #fff;
	font-family:'Droid Sans', sans-serif;
	background-image: url("portfolioimages/fire.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;

}

header{
	background-color: #000;
	padding-top: 20px;

}

header a{
	color: white;
	padding-left: 30px;
	text-decoration: none;
}

header nav{
	padding: 40px;
	font-size: 30px;
	margin-right: 0;
}



header h1{
	float: left;
	width: 50%;
	font-size: 55px;
}


footer{
	background-color: black;
}

footer a{
	color: white;
	text-decoration: none;
}

footer div{
	text-align: center;
	font-size: 25px;
	padding: 50px;
}

section p{
	line-height: 30px;
	padding-right: 10%;
} 

section div img{
	margin: 10px;
}

.column{
	float: left;
	width: 33%;
}

.container{
	max-width: 600px;
	margin: auto;
}

.portcolumn{
	float: left;
	width: 40%;
}

