.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

html {
 box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	color: white;
	font-family:'Droid Sans', sans-serif;
	background-image: url("portfolioimages/fire.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;

}

header{
	background-color: black;
	padding-top: 20px;

}

header a{
	color: white;
	padding-left: 30px;
	text-decoration: none;
}

header nav{
	padding: 40px;
	font-size: 30px;
	margin-right: 0;
}



header h1{
	float: left;
	width: 50%;
	font-size: 55px;
}

ul li{
	list-style: none;
	float: left;
	width: 33%;
}

section p{
	float: left;
	width: 75%;
}

section div{
	width: 25%;
}

footer{
	background-color: black;
}

footer a{
	color: white;
	text-decoration: none;
}

footer div{
	text-align: center;
	height: 75px;
	font-size: 25px;
	padding-top: 20px;
}

